body._beer {

	._rating {
		margin:5px;
	}
	.mw_was_table {
		box-shadow: 1px 1px 1px 1px #333;
		border-radius: 5px;
	}
	.mw_was_td {
		padding:10px;
	}
	fieldset {
		width:94%;
		padding:2%;
		margin:0;
		border:none;
	}
	.titleBar {
		padding-top:10px;
	}
	.mw_left {
		text-align:left;
	}
	.mw_mid {
		text-align:center;
		margin:0;
		padding:0;
	}
	.mw_right {
		text-align:right;
	}
	
}