body._beer {

	fieldset {
		width:94%;
		padding:2%;
		margin:0;
		border:none;
	}
	.titleBar {
		padding-top:10px;
	}
	.mw_left {
		text-align:left;
	}
	.mw_mid {
		text-align:center;
		margin:0;
		padding:0;
	}
	.mw_right {
		text-align:right;
	}
	
}