._contact {
	padding:0px 10px 10px 10px;
	h1 {
		-webkit-margin-before: 0.0em;
	}
	.button {
		-moz-box-shadow:inset 0px 1px 0px 0px #c7a26c;
		-webkit-box-shadow:inset 0px 1px 0px 0px #c7a26c;
		box-shadow:inset 0px 1px 0px 0px #c7a26c;
		background-color:#bf8840;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		border:0px solid #a68b6d;
		display:inline-block;
		color:#ffffff;
		font-family:arial;
		font-size:15px;
		font-weight:bold;
		padding:6px 24px;
		text-decoration:none;
		a {
			color:#ffffff;
			text-decoration:none;
		}
	}
}

.mailto {
	font-size:22px;
	color:#bf8840;
	font-weight:bold;
}