// Every page should have a class on the body
// Scope that in each file at the start
body {
	fieldset:not(#QuickSearch){
		display:none;
	}
	.pageContent {
		.titleBar {
			width:96%;
			margin:2%;
			text-align:center;
			h1 {
				font-size:18px;
			}
		}
	}

	@include clearfix;
	width:100%;
	padding:0;
	margin:0;

	#baSidebar {
		padding:10px;
		width:85%;
		margin:auto;
	}
}
._heading {
	width:94%;
	margin:auto;
	img {
		width:100%;
		margin:auto;
	}
	h6 {
		width:100%;
		background-color:#e8e8e8;
		height:20px;
		font-size:16px;
		margin:auto;
		margin-bottom:8px;
		text-align:center;
		text-transform:uppercase;
		line-height:20px;
	}
	div {
		width:94%;
		padding-bottom:4%;
	}
}
._home {
	position:relative;
	bottom:30px;
	._heroImage {
		width:100%;
		height:auto;
	}
	.mw_hide {
		display:none;
	}
  
}