// Every page should have a class on the body
// Scope that in each file at the start
body {
	@include clearfix;
	width:100%;
	padding:0;
	margin:0;

	#baSidebar {
		padding:10px;
	}
}
._home {

	.mw_hide {
		display:none;
	}
  
}