footer._footer {
	clear:both;
	width:100%;
	padding:0;
	margin:0;
	text-transform:uppercase;
	font-family:$helvetica;
	font-size:14px;
	background-color:#141414;
	@include clearfix;

	h3 {
		text-align:center;
		margin-bottom:15px;
		color:#BF8840;
	}

	.footer {
		ul {
			text-align:center;
			padding:0;
		}
		li {
			list-style:none;
			display:inline-block;
			padding:5px;
			> a {
				color:white;
				text-decoration:none;
			}
		}
	}

	.footerLegal{
		div {
			font-size:10px;
			text-align:center;
			font-style: italic;
			padding-bottom:3px;
			color:#888888;
		}
	}

	.sharePage {
		.shareControl {
				text-align:center;
				padding-bottom:3px;
		}
	}
}