header._header {

	ul, li {
		list-style:none;
		margin:0;
		padding:0;
		a {
			text-decoration:none;
			color:black;
			text-align:left;
			margin-left:10px;
		}
	}

	.box-shadow-menu {
	  position: relative;
	  padding-left: 2.15em;
	  bottom:32px;
	  float:right;
	  height:30px;
	}
	.box-shadow-menu:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0.25em;
	  width: 1.5em;
	  height: 0.2em;
	  background: #fff;
	  box-shadow: 
	    0 0.45em 0 0 #fff,
	    0 0.9em 0 0 #fff;
	}

	._logo {
		background-color:black;
	}
	._button {
		@include button(shiny, #e8e8e8);
		text-align:left;
		font-family:$helvetica;
		width:100%;
		line-height:10px;
		margin:0;
		padding-top: 10px; 
		padding-bottom:10px;
		padding-left:0; 
		padding-right:0;
		border-radius:0;
	}
	
	#QuickSearch {
		width:100%;
		margin:0;
		padding:0;
		border:0;
	}

	#logo {
		> a {
			> img {
				width:100%;
				max-width:200px;
				height:auto;
				padding-left:20px;
			}
		}
	}
}
 