header._header {

	.primaryControls {
		text-align:center;
		input {
			-webkit-appearance:none;
			-webkit-border-radius:10px;
			height:25px;
			font-size:14px;
		}
	}
	.ctrlUnit {
		text-align:center;
		ul {
			padding-left:25px;
		}
		dd {
			margin:0;
		}
	}
	.controlsWrapper {
		display:block;
		dd {
			padding:0;
		}
		label {
			float:left;
			clear:none;
		}
	}
	ul, li {
		list-style:none;
		margin:auto;
		padding:0;

		a {
			text-decoration:none;
			color:black;
			text-align:left;
			margin-left:10px;
		}
	}

	.box-shadow-menu {
	  position: relative;
	  padding-left: 2.15em;
	  bottom:32px;
	  float:right;
	  height:25px;
	  z-index:999;
	}
	.box-shadow-menu:before {
	  content: "";
	  position: absolute;
	  left: 0;
	  top: 0.25em;
	  width: 1.5em;
	  height: 0.2em;
	  background: #fff;
	  box-shadow: 
	    0 0.45em 0 0 #fff,
	    0 0.9em 0 0 #fff;
	}

	._logo {
		background-color:black;
	}
	._button {
		@include button(shiny, #e8e8e8);
		text-align:left;
		font-family:$helvetica;
		width:100%;
		line-height:10px;
		margin:0;
		padding-top: 10px; 
		padding-bottom:10px;
		padding-left:0; 
		padding-right:0;
		border-radius:0;
	}
	._button2 {
		@include button(simple, #e8e8e8);
		text-align:left;
		font-family:$helvetica;
		width:100%;
		line-height:10px;
		margin:0;
		padding-top: 10px; 
		padding-bottom:10px;
		padding-left:0; 
		padding-right:0;
		border-radius:0;
	}

	.tabLinks {
		position:relative;
		top:11px;
	}
	.publicTabs, .visitorTabs {
		position:relative;
		bottom:25px;
	}
	
	#QuickSearch {
		@include clearfix;
		background-color:#e8e8e8;
		height:90px;
		width:96%;
		margin:0;
		padding:2%;
		border:0;
		position:relative;
		bottom:25px;
		box-shadow: 0px 1px 1px rgba(50, 50, 50, 0.25);

		#QuickSearchQuery {
			width:75%;
			text-align:center;
		}
	}

	#logo {
		> a {
			> img {
				width:100%;
				max-width:200px;
				height:auto;
				padding-left:20px;
			}
		}
	}
}
 