header._header {
	._logo {
		text-align:center;
	}
	
	#QuickSearch {
		width:100%;
		margin:0;
		padding:0;
		border:0;
	}

	#logo {
		> a {
			> img {
				width:100%;
				max-width:200px;
				height:auto;
				margin:auto;
			}
		}
	}
}
 