// Reset file for standardizing the page
// @import "globals/_reset";
* {
  font-family: helvetica, arial, sans-serif;
}
   /* Required SCSS Styling */
      *[data-ur-set='toggler'] {
        /* By Default content is hidden*/
        *[data-ur-toggler-component='content'] {
          display:none;
        }
        *[data-ur-toggler-component='content'][data-ur-state='enabled'] {
          display: block;
        }
      }
      /* Required CSS Styling */

      *[data-ur-set='toggler'] *[data-ur-toggler-component='content'] {
        display:none;
      }
      *[data-ur-set='toggler'] *[data-ur-toggler-component='content'][data-ur-state='enabled'] {
        display: block;
      }
._hide {
  display:none;
}

// Base file contains all the global styles
@import "globals/_base";

// Header & Footer
@import "sections/_header";
@import "sections/_footer";

// Pages
@import "pages/_home";
